.container {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.custom-select {
    position: relative;
    width: 300px;
}

.custom-select select {
    display: inline-block;
    width: 100%;
    font-size: large;
    text-align: center;
    height: 40px;
    appearance: none;
    background-color: #1e1a1a;
    color: grey;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align-last: center;
    cursor: pointer;
}

.custom-select .searcher-container {
    width: 100%;
    font-size: large;
    height: 40px;
    background-color: #1e1a1a;
    border-radius: 10px;
}

.custom-select .searcher-container input {
    position: relative;
    left: 50px;
    top: 0px;
    width: 70%;
    background-color: #292424;
    border: none;
    height: 38px;
    color: grey;
    font-size: large;
}

.custom-select .searcher-container input:focus {
    outline: none;
    
}

.custom-select .searcher-container .close-search {
    position: absolute;
    top: 8px;
    left: 8px;
}

.custom-select .searcher-container .close-search button {
    font-size: large;
    width: 30px;
    background-color: #292424;
    border: none;
    color: grey;
    border-radius: 5px;
    transition: 0.3s ease;
}

.custom-select .searcher-container .close-search button:hover {
    background-color: #3d0b0b;
    color: #1e1a1a;
    cursor: pointer;
}

.custom-select .searcher-container .close-search button:active {
    background-color: #721313;
}

.custom-select select option {
    text-align: center;
    cursor: pointer;
}

.custom-select select option:hover {
    background-color: #721313;
}

.custom-select::before {
    content: "";
    position: absolute;
    top: 70%;
    left: 10px;
    width: 20px;
    height: 3px;
    background-color: grey;
    transform: translateY(-10px);
    box-shadow: 0 6px grey, 0 -6px grey;
    pointer-events: none;
}

.search-container {
    margin-left: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1a1a;
    border-radius: 10px;
    cursor: pointer;
}

.search-container img {
    width: 20px;
    filter: invert(0.5);
    transition: 0.3s ease;
}

.search-container img:hover {
    filter: invert(0.7);
}

.search-box {
    display: flex;
}

.search-box input {
    margin: 0 auto;
}