.container {
  display: flex;
  margin-top: 50px;
}

.news-container {
  margin: 0 auto;
  text-align: center;
}

.error-container {
  margin: 0 auto;
  display: grid;
}

.error-container img {
  margin: 40px auto;
  width: 200px;
}

.error-container p {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

.loader-container {
  display: flex;
  width: 100%;
  height: 350px;
}

.loader {
  margin: 0 auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  box-shadow: 32px 0 black, -32px 0 black;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff2, -32px 0 black;
  }
  50% {
    background-color: black;
    box-shadow: 32px 0 #fff2, -32px 0 #fff2;
  }
  100% {
    background-color: #fff2;
    box-shadow: 32px 0 black, -32px 0 #fff2;
  }
}
