<div class="container">
    @if (onFetching()) {
        <div class="loader-container">
            <span class="loader"></span>
        </div>
    } @else {
        @if(!isThereAnError()) {
            <div class="news-container">
                @if(onTopNews()) {
                    @for (singleNews of topNews(); track singleNews) {
                        <app-single-news [singleNews]="singleNews" />
                        <br><br>
                    }
                } @else {
                    @for (singleNews of otherNews(); track singleNews) {
                        <app-single-news [singleNews]="singleNews" />
                        <br><br>
                    }
                }
            </div>
        } @else {
            <div class="error-container">
                <img src="assets/deadface.png">
                <p>There is an error fetching the news. Try again later.</p>
            </div>
        }
    }
    </div>